<div class="contact">
    <h1>Let's build something</h1>
    <p>I'm open to interesting projects, backend
development opportunities, and conversations
about software engineering.</p>
    <p>Email: <a class="contact-link" href="mailto:zoanig1@gmail.com">zoanig1@gmail.com</a></p>
    <p>LinkedIn: <a class="contact-link" target="_blank" href="{{ DATA.profile.sections.0.fields.LinkedIn }}">{{ DATA.profile.sections.0.fields.LinkedIn }}</a></p>
    <p>Github: <a class="contact-link" target="_blank" href="{{ DATA.profile.sections.0.fields.Github }}">{{ DATA.profile.sections.0.fields.Github }}</a></p>
</div>