{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> zoanig</title>
    <link rel="stylesheet" href={% static "style.css" %}>
    <link rel="icon" href={% static "favicon.svg" %} type="image/svg+xml">
</head>
<body>
    <nav id='header'>
        {% with "home about projects contact" as edps %}
            {% for endp in edps.split %}
                    <a href="#{{ endp }}" id="hash-{{endp}}">{{ endp }}</a>
            {% endfor %}
        {% endwith %}
    </nav>
    {% block content %}{% endblock %}

    {{ DATA.profile.sections|json_script:"d_sections" }}
    <script>
    window.DjangoStaticUrl = "{% static '' %}"; 
    </script>
    <script src={% static "app.js" %}></script>
</body>
</html>